::-webkit-scrollbar {
    display: none;
}

::-webkit-input-placeholder {
    color: #FFF;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background: #FFF;
    overflow: hidden;
    outline: none;
    cursor: default;
    font-family: "Roboto", "BlinkMacSystemFont", "Arial", sans-serif;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    --theme-color: #37474F;
}

#content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

#menu {
    position: relative;
    float: left;
    height: auto;
    width: 100%;
    background: var(--theme-color);
}

.menu_template {
    position: relative;
    float: left;
    height: 24px;
    width: calc(100% - 48px);
    margin: 24px 24px 0 24px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    cursor: pointer;
}

.menu_template_new {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 56px;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    background: #F44336;
    border-radius: 12px;
}

.menu_template_text {
    position: absolute;
    top: 0;
    right: 16px;
    left: 72px;
    height: 24px;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#menu_logo {
    position: relative;
    float: left;
    height: 40px;
    width: 200px;
    margin: 40px calc(50% - 100px);
    fill: #FFF;
}

#menu_overview {
    position: relative;
    float: left;
    height: auto;
    width: calc(100% - 32px);
    margin: 0 16px;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

#menu_twitter {
    position: relative;
    float: left;
    height: 40px;
    width: 176px;
    padding: 0 16px;
    margin: 24px calc(50% - 105px) 40px calc(50% - 105px);
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: transparent;
    border: 1px solid #FFF;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: background 320ms;
}

.menu_link {
    position: relative;
    float: left;
    height: 72px;
    width: 100%;
    color: #FFF;
    outline: none;
    transition: background 320ms;
}

#menu_twitter:active,
#menu_twitter:focus,
.menu_link:active,
.menu_link:focus {
    background: rgba(255, 255, 255, 0.08);
}

.menu_link_image {
    position: absolute;
    top: 8px;
    left: 16px;
    height: 56px;
    width: 56px;
    pointer-events: none;
    object-fit: cover;
}

.menu_link_title {
    position: absolute;
    top: 16px;
    right: 24px;
    left: 88px;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: color 320ms;
}

.menu_link_subtitle {
    position: absolute;
    top: 36px;
    right: 24px;
    left: 88px;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: color 320ms;
}

#menu_space {
    position: relative;
    float: left;
    height: 8px;
    width: 100%;
}

#play {
    position: relative;
    float: left;
    height: auto;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#visual {
    position: relative;
    float: left;
    height: 616px;
    width: 100%;
}

#example {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 12px;
    font-size: 0;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

#example_custom {
    position: relative;
    display: inline-block;
    height: 56px;
    width: 56px;
    margin: 4px;
    background: var(--theme-color);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    white-space: normal;
    cursor: pointer;
    transform: perspective(0);
    transition: box-shadow 320ms;
}

#example_custom > svg {
    position: absolute;
    top: 16px;
    left: 16px;
    fill: #FFF;
    height: 24px;
    width: 24px;
}

.example {
    position: relative;
    display: inline-block;
    height: 56px;
    width: 56px;
    margin: 4px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    white-space: normal;
    cursor: pointer;
    transform: perspective(0);
    transition: box-shadow 320ms;
}

#example_custom:active,
.example:active {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
}

.example > img {
    position: absolute;
    top: -14px;
    left: -14px;
    height: 84px;
    width: 84px;
    pointer-events: none;
}

#credit {
    position: absolute;
    top: 88px;
    right: 16px;
    left: 16px;
    height: 56px;
    background: #FFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 320ms;
    display: none;
}

#credit:active {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
}

#credit_image {
    position: absolute;
    top: 8px;
    left: 16px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    pointer-events: none;
}

#credit_title {
    position: absolute;
    top: 8px;
    right: 8px;
    left: 72px;
    height: 20px;
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#credit_subtitle {
    position: absolute;
    top: 28px;
    right: 8px;
    left: 72px;
    height: 20px;
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#credit_twitter {
    position: absolute;
    top: 16px;
    right: 16px;
    height: 24px;
    width: 24px;
    fill: #757575;
}

#icon {
    position: absolute;
    top: 200px;
    left: calc(50% - 96px);
    height: 192px;
    width: 192px;
}

#icon_background {
    position: absolute;
    top: -48px;
    left: -48px;
    height: 288px;
    width: 288px;
    object-fit: cover;
}

#icon_foreground {
    position: absolute;
    top: -48px;
    left: -48px;
    height: 288px;
    width: 288px;
    object-fit: cover;
}

#icon_cover {
    position: absolute;
    top: -192px;
    right: -192px;
    bottom: -192px;
    left: -192px;
    border: 192px solid #FFF;
    display: none;
}

#icon_shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
    display: none;
}

#icon_mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#icon_mask > svg {
    position: absolute;
    top: -192px;
    left: -192px;
    height: 576px;
    width: 576px;
    visibility: hidden;
}

#icon_mask.google > #icon_mask_google,
#icon_mask.apple > #icon_mask_apple,
#icon_mask.microsoft > #icon_mask_microsoft,
#icon_mask.samsung > #icon_mask_samsung {
    visibility: visible;
}

#icon_action {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: crosshair;
}

#icon.top > #icon_background {
    transform: translateY(-56px);
}

#icon.top > #icon_foreground {
    transform: translateY(-72px);
}

#icon.top > #icon_cover,
#icon.top > #icon_shadow,
#icon.top > #icon_mask {
    transform: translateY(-40px);
}

#icon.right > #icon_background {
    transform: translateX(56px);
}

#icon.right > #icon_foreground {
    transform: translateX(72px);
}

#icon.right > #icon_cover,
#icon.right > #icon_shadow,
#icon.right > #icon_mask {
    transform: translateX(40px);
}

#icon.bottom > #icon_background {
    transform: translateY(56px);
}

#icon.bottom > #icon_foreground {
    transform: translateY(72px);
}

#icon.bottom > #icon_cover,
#icon.bottom > #icon_shadow,
#icon.bottom > #icon_mask {
    transform: translateY(40px);
}

#icon.left > #icon_background {
    transform: translateX(-56px);
}

#icon.left > #icon_foreground {
    transform: translateX(-72px);
}

#icon.left > #icon_cover,
#icon.left > #icon_shadow,
#icon.left > #icon_mask {
    transform: translateX(-40px);
}

#icon.push > #icon_background {
    transform: scale(0.7);
}

#icon.push > #icon_foreground {
    transform: scale(0.6);
}

#icon.push > #icon_cover,
#icon.push > #icon_shadow,
#icon.push > #icon_mask {
    transform: scale(0.8);
}

#icon.pop > #icon_background {
    transform: scale(1.3);
}

#icon.pop > #icon_foreground {
    transform: scale(1.4);
}

#icon.pop > #icon_cover,
#icon.pop > #icon_shadow,
#icon.pop > #icon_mask {
    transform: scale(1.2);
}

#share {
    position: absolute;
    bottom: 16px;
    left: 50%;
    height: 32px;
    width: auto;
    padding: 0 16px;
    color: var(--theme-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
    transform: translateX(-50%);
}

#option {
    position: absolute;
    right: 0;
    bottom: 48px;
    left: 0;
    height: 136px;
}

#option_navigation {
    position: absolute;
    top: 0;
    right: 24px;
    left: 24px;
    height: 48px;
}

#option_customize,
#option_masks,
#option_animation {
    position: relative;
    float: left;
    height: 48px;
    width: calc(100% / 3);
    color: var(--theme-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
}

#option_indicator {
    position: absolute;
    bottom: 0;
    left: calc(100% / 3);
    height: 2px;
    width: calc(100% / 3);
    background: var(--theme-color);
    transition: transform 320ms;
}

#option.customize > #option_navigation > #option_indicator {
    transform: translateX(-100%);
}

#option.animation > #option_navigation > #option_indicator {
    transform: translateX(100%);
}

#option_wrapper {
    position: absolute;
    top: 48px;
    left: -100%;
    height: 88px;
    width: 300%;
    transition: transform 320ms;
}

#option.customize > #option_wrapper {
    transform: translateX(calc(100% / 3));
}

#option.animation > #option_wrapper {
    transform: translateX(calc(-100% / 3));
}

#customize,
#masks,
#animation {
    position: relative;
    float: left;
    height: 88px;
    width: calc(100% / 3);
}

#radius {
    position: absolute;
    top: 16px;
    left: calc(50% - 104px);
    height: 32px;
    width: 208px;
    overflow: hidden;
}

#radius_track {
    position: absolute;
    top: 14.4px;
    right: 8px;
    left: 8px;
    height: 3px;
    background: #90A4AE;
}

#radius_trend {
    position: absolute;
    top: 14.4px;
    left: 8px;
    height: 3px;
    background: var(--theme-color);
}

#radius_thumb {
    position: absolute;
    top: 10px;
    left: 0;
    height: 12px;
    width: 12px;
    background: var(--theme-color);
    border-radius: 50%;
    transform-origin: center;
}

#radius_input {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

#corner {
    position: absolute;
    left: calc(50% - 36px);
    bottom: 16px;
    height: 24px;
    width: 72px;
    cursor: pointer;
}

#corner_1 {
    position: absolute;
    top: 8px;
    left: 8px;
    height: 8px;
    width: 8px;
    background: var(--theme-color);
    border-radius: 4px;
}

#corner_2 {
    position: absolute;
    top: 8px;
    left: 24px;
    height: 8px;
    width: 8px;
    background: var(--theme-color);
    border-radius: 4px;
}

#corner_3 {
    position: absolute;
    top: 8px;
    left: 40px;
    height: 8px;
    width: 8px;
    background: var(--theme-color);
    border-radius: 4px;
}

#corner_4 {
    position: absolute;
    top: 8px;
    left: 56px;
    height: 8px;
    width: 8px;
    background: var(--theme-color);
    border-radius: 4px;
}

#corner_1.active,
#corner_2.active,
#corner_3.active,
#corner_4.active {
    background: #90A4AE;
}

#masks_items {
    position: absolute;
    top: 28px;
    left: calc(50% - 128px);
    height: 32px;
    width: 256px;
}

#masks_items > svg {
    position: relative;
    float: left;
    height: 32px;
    width: 32px;
    margin: 0 16px;
    cursor: pointer;
}

#animation_items {
    position: absolute;
    top: 8px;
    left: calc(50% - 120px);
    height: 40px;
    width: 240px;
}

#animation_items > svg {
    position: relative;
    float: left;
    height: 24px;
    width: 24px;
    padding: 8px;
    fill: var(--theme-color);
    cursor: pointer;
}

#animation_duration {
    position: absolute;
    top: 48px;
    left: calc(50% - 32px);
    height: 32px;
    width: 64px;
    padding: 0;
    margin: 0;
    color: var(--theme-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    background: transparent;
    border: none;
    outline: none;
}

#animation_duration::selection {
    color: #FFF;
    background: var(--theme-color);
}

#blocker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    visibility: hidden;
    transition: background 320ms, visibility 0ms 320ms;
}

#blocker.active {
    background: rgba(0, 0, 0, 0.4);
    visibility: visible;
    transition: background 320ms, visibility 0ms;
}

#custom {
    position: absolute;
    top: -280px;
    right: 0;
    left: 0;
    height: 216px;
    background: var(--theme-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
    visibility: hidden;
    transition: transform 320ms, visibility 0ms 320ms;
}

#custom.active {
    visibility: visible;
    transform: translateY(280px);
    transition: transform 320ms, visibility 0ms;
}

#custom_background_label {
    position: absolute;
    top: 24px;
    right: 24px;
    left: 24px;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

#custom_foreground_label {
    position: absolute;
    top: 96px;
    right: 24px;
    left: 24px;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

#custom_background_input {
    position: absolute;
    top: 40px;
    left: 24px;
    height: 32px;
    width: calc(100% - 88px);
    margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

#custom_foreground_input {
    position: absolute;
    top: 112px;
    left: 24px;
    height: 32px;
    width: calc(100% - 88px);
    margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

#custom_background_input::selection,
#custom_foreground_input::selection {
    color: var(--theme-color);
    background: #FFF;
}

#custom_background_line {
    position: absolute;
    top: 72px;
    right: 64px;
    left: 24px;
    height: 2px;
    background: #FFF;
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 320ms, transform 0ms 320ms;
}

#custom_foreground_line {
    position: absolute;
    top: 144px;
    right: 64px;
    left: 24px;
    height: 2px;
    background: #FFF;
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 320ms, transform 0ms 320ms;
}

#custom_background_input:focus + #custom_background_line,
#custom_foreground_input:focus + #custom_foreground_line {
    opacity: 1;
    transform: scaleX(1);
    transition: opacity 0ms, transform 320ms;
}

#custom_background_browse {
    position: absolute;
    top: 32px;
    right: 16px;
    height: 24px;
    width: 24px;
    padding: 8px;
    fill: #FFF;
    border-radius: 50%;
    cursor: pointer;
    transition: background 320ms;
}

#custom_foreground_browse {
    position: absolute;
    top: 104px;
    right: 16px;
    height: 24px;
    width: 24px;
    padding: 8px;
    fill: #FFF;
    border-radius: 50%;
    cursor: pointer;
    transition: background 320ms;
}

#custom_drop {
    position: absolute;
    top: 224px;
    right: 16px;
    left: 16px;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
}

#custom_action {
    position: absolute;
    bottom: 16px;
    left: 50%;
    height: 36px;
    width: auto;
    padding: 0 16px;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    text-transform: uppercase;
    background: transparent;
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    transform: translateX(-50%);
    transition: background 320ms;
}

#custom_background_browse:active,
#custom_foreground_browse:active,
#custom_action:active {
    background: rgba(255, 255, 255, 0.08);
}

#drop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.9);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 320ms;
}

#drop.active {
    visibility: visible;
    opacity: 1;
}

#drop_background {
    position: absolute;
    top: 40px;
    right: 40px;
    bottom: calc(50% + 20px);
    left: 40px;
    border: 2px dashed #FFF;
    border-radius: 16px;
}

#drop_foreground {
    position: absolute;
    top: calc(50% + 20px);
    right: 40px;
    bottom: 40px;
    left: 40px;
    border: 2px dashed #FFF;
    border-radius: 16px;
}

#drop_background > div,
#drop_foreground > div {
    position: absolute;
    top: calc(50% - 16px);
    right: 16px;
    left: 16px;
    height: 32px;
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (min-width: 480px) {
    #menu {
        width: 480px !important;
        padding: 0 calc(50% - 240px) !important;
    }
    #credit {
        right: calc(50% - 160px) !important;
        left: calc(50% - 160px) !important;
    }
    #custom {
        right: calc(50% - 200px) !important;
        left: calc(50% - 200px) !important;
    }
    #option_navigation {
        right: calc(50% - 200px) !important;
        left: calc(50% - 200px) !important;
    }
}

@media (min-width: 840px) {
    #menu {
        position: fixed !important;
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        height: auto !important;
        width: 360px !important;
        padding: 0 0 16px 0 !important;
        box-shadow: 2px 0 4px rgba(0, 0, 0, 0.24) !important;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
    }
    #play {
        position: absolute !important;
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 360px !important;
        height: auto !important;
        width: auto !important;
    }
}

@media (min-width: 960px) {
    #menu {
        width: 440px !important;
    }
    #play {
        left: 440px !important;
    }
}

@media (min-width: 840px) and (min-height: 616px) {
    #visual {
        height: 100% !important;
    }
}

@media (min-width: 840px) and (min-height: 680px) {
    #icon {
        top: 240px !important;
    }
}
