::-webkit-scrollbar {
    display: none;
}

::-webkit-input-placeholder {
    color: #FFF;
}

::selection {
    color: #37474F;
    background: #FFF;
}

body {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background: #FFF;
    overflow: hidden;
    outline: none;
    cursor: default;
    font-family: "Roboto", "BlinkMacSystemFont", "Arial", sans-serif;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    --theme-color: #37474F;
}

#content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

#menu {
    position: relative;
    float: left;
    height: auto;
    width: 100%;
    background: var(--theme-color);
}

#menu_logo {
    position: relative;
    float: left;
    height: 40px;
    width: 200px;
    margin: 48px calc(50% - 100px) 24px calc(50% - 100px);
    fill: #FFF;
}

#menu_overview {
    position: relative;
    float: left;
    height: auto;
    width: calc(100% - 32px);
    margin: 0 16px;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

#twitter {
    position: relative;
    float: left;
    height: 40px;
    width: 176px;
    padding: 0 16px;
    margin: 24px calc(50% - 105px) 40px calc(50% - 105px);
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: transparent;
    border: 1px solid #FFF;
    border-radius: 4px;
    cursor: pointer;
    transition: color 320ms, background 320ms;
}

#twitter:active {
    color: var(--theme-color);
    background: #FFF;
}

.menu_link {
    position: relative;
    float: left;
    height: 72px;
    width: 100%;
    color: #FFF;
    transition: background 320ms;
}

.menu_link:active {
    background: #FFF;
}

.menu_link_image {
    position: absolute;
    top: 8px;
    left: 16px;
    height: 56px;
    width: 56px;
    pointer-events: none;
    object-fit: cover;
    filter: brightness(0.95);
}

.menu_link_title {
    position: absolute;
    top: 16px;
    right: 24px;
    left: 88px;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: color 320ms;
}

.menu_link_subtitle {
    position: absolute;
    top: 36px;
    right: 24px;
    left: 88px;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: color 320ms;
}

.menu_link:active > .menu_link_title,
.menu_link:active > .menu_link_subtitle {
    color: var(--theme-color);
}

#menu_space {
    position: relative;
    float: left;
    height: 8px;
    width: 100%;
}

#visual {
    position: relative;
    float: left;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#blocker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    visibility: hidden;
    transition: background 320ms, visibility 0ms 320ms;
}

#blocker.active {
    background: rgba(0, 0, 0, 0.4);
    visibility: visible;
    transition: background 320ms, visibility 0ms;
}

#custom {
    position: absolute;
    top: -216px;
    right: 0;
    left: 0;
    height: 216px;
    background: var(--theme-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
    visibility: hidden;
    transform: translateY(0%);
    transition: transform 320ms, visibility 0ms 320ms;
}

#custom.active {
    visibility: visible;
    transform: translateY(100%);
    transition: transform 320ms, visibility 0ms;
}

#custom_background_label {
    position: absolute;
    top: 24px;
    right: 24px;
    left: 24px;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

#custom_foreground_label {
    position: absolute;
    top: 96px;
    right: 24px;
    left: 24px;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

#custom_background_input {
    position: absolute;
    top: 40px;
    left: 24px;
    height: 32px;
    width: calc(100% - 48px);
    margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

#custom_foreground_input {
    position: absolute;
    top: 112px;
    left: 24px;
    height: 32px;
    width: calc(100% - 48px);
    margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

#custom_background_line {
    position: absolute;
    top: 72px;
    right: 24px;
    left: 24px;
    height: 2px;
    background: #FFF;
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 320ms, transform 0ms 320ms;
}

#custom_foreground_line {
    position: absolute;
    top: 144px;
    right: 24px;
    left: 24px;
    height: 2px;
    background: #FFF;
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 320ms, transform 0ms 320ms;
}

#custom_background_input:focus + #custom_background_line,
#custom_foreground_input:focus + #custom_foreground_line {
    opacity: 1;
    transform: scaleX(1);
    transition: opacity 0ms, transform 320ms;
}

#custom_action {
    position: absolute;
    bottom: 16px;
    left: 50%;
    height: 36px;
    width: auto;
    padding: 0 16px;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    text-transform: uppercase;
    background: transparent;
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    transform: translateX(-50%);
    transition: background 320ms;
}

#custom_action:active {
    background: rgba(0, 0, 0, 0.08);
}

#example {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 12px;
    font-size: 0;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

#example_custom {
    position: relative;
    display: inline-block;
    height: 56px;
    width: 56px;
    margin: 4px;
    background: var(--theme-color);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    white-space: normal;
    cursor: pointer;
    transform: perspective(0);
    transition: box-shadow 320ms;
}

#example_custom > svg {
    position: absolute;
    top: 16px;
    left: 16px;
    fill: #FFF;
    height: 24px;
    width: 24px;
}

.example {
    position: relative;
    display: inline-block;
    height: 56px;
    width: 56px;
    margin: 4px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    white-space: normal;
    cursor: pointer;
    transform: perspective(0);
    transition: box-shadow 320ms;
}

#example_custom:active,
.example:active {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
}

.example > img {
    position: absolute;
    top: -14px;
    left: -14px;
    height: 84px;
    width: 84px;
    pointer-events: none;
}

#credit {
    position: absolute;
    top: 88px;
    right: 16px;
    left: 16px;
    height: 56px;
    background: #FFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 320ms;
    display: none;
}

#credit:active {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
}

#credit_image {
    position: absolute;
    top: 8px;
    left: 16px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    pointer-events: none;
}

#credit_title {
    position: absolute;
    top: 8px;
    right: 8px;
    left: 72px;
    height: 20px;
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#credit_subtitle {
    position: absolute;
    top: 28px;
    right: 8px;
    left: 72px;
    height: 20px;
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#credit_twitter {
    position: absolute;
    top: 16px;
    right: 16px;
    height: 24px;
    width: 24px;
    fill: #757575;
}

#share {
    position: absolute;
    bottom: 128px;
    left: 50%;
    height: 36px;
    width: auto;
    padding: 0 16px;
    color: var(--theme-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    text-transform: uppercase;
    background: transparent;
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    transform: translateX(-50%);
    transition: background 320ms;
}

#share:active {
    background: rgba(0, 0, 0, 0.08);
}

#copied {
    position: absolute;
    right: 0;
    bottom: 128px;
    left: 0;
    height: 36px;
    color: #66BB6A;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    background: #FFF;
    display: none;
}

#visual_animation {
    position: absolute;
    bottom: 80px;
    left: calc(50% - 120px);
    height: 40px;
    width: 240px;
}

#visual_animation > svg {
    position: relative;
    float: left;
    height: 24px;
    width: 24px;
    padding: 8px;
    border-radius: 50%;
    fill: var(--theme-color);
    transition: background 320ms;
    cursor: pointer;
}

#visual_animation > svg:active {
    background: rgba(0, 0, 0, 0.08);
}

#visual_radius {
    position: absolute;
    left: calc(50% - 104px);
    bottom: 40px;
    height: 32px;
    width: 208px;
    overflow: hidden;
}

#visual_radius_track {
    position: absolute;
    top: 14px;
    right: 8px;
    left: 8px;
    height: 4px;
    background: #90a4ae;
}

#visual_radius_trend {
    position: absolute;
    top: 14px;
    left: 8px;
    height: 4px;
    background: var(--theme-color);
}

#visual_radius_thumb {
    position: absolute;
    top: 8px;
    left: 0;
    height: 16px;
    width: 16px;
    background: var(--theme-color);
    border-radius: 50%;
    transform-origin: center;
}

#visual_radius_input {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

#icon {
    position: absolute;
    top: 200px;
    left: calc(50% - 96px);
    height: 192px;
    width: 192px;
}

#icon_background {
    position: absolute;
    top: -48px;
    left: -48px;
    height: 288px;
    width: 288px;
    transition: transform 240ms;
}

#icon_foreground {
    position: absolute;
    top: -48px;
    left: -48px;
    height: 288px;
    width: 288px;
    transition: transform 240ms;
}

#visual_icon_cover {
    position: absolute;
    top: -192px;
    right: -192px;
    bottom: -192px;
    left: -192px;
    border: 192px solid #FFF;
    transition: transform 240ms;
}

#visual_icon_shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
    transition: transform 240ms;
}

#icon_action {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: crosshair;
}

#icon.top > #icon_background {
    transform: translateY(-56px);
}

#icon.top > #icon_foreground {
    transform: translateY(-72px);
}

#icon.top > #visual_icon_cover {
    transform: translateY(-40px);
}

#icon.top > #visual_icon_shadow {
    transform: translateY(-40px);
}

#icon.right > #icon_background {
    transform: translateX(56px);
}

#icon.right > #icon_foreground {
    transform: translateX(72px);
}

#icon.right > #visual_icon_cover {
    transform: translateX(40px);
}

#icon.right > #visual_icon_shadow {
    transform: translateX(40px);
}

#icon.bottom > #icon_background {
    transform: translateY(56px);
}

#icon.bottom > #icon_foreground {
    transform: translateY(72px);
}

#icon.bottom > #visual_icon_cover {
    transform: translateY(40px);
}

#icon.bottom > #visual_icon_shadow {
    transform: translateY(40px);
}

#icon.left > #icon_background {
    transform: translateX(-56px);
}

#icon.left > #icon_foreground {
    transform: translateX(-72px);
}

#icon.left > #visual_icon_cover {
    transform: translateX(-40px);
}

#icon.left > #visual_icon_shadow {
    transform: translateX(-40px);
}

#icon.push > #icon_background {
    transform: scale(0.7);
}

#icon.push > #icon_foreground {
    transform: scale(0.6);
}

#icon.push > #visual_icon_cover {
    transform: scale(0.8);
}

#icon.push > #visual_icon_shadow {
    transform: scale(0.8);
}

#icon.pop > #icon_background {
    transform: scale(1.3);
}

#icon.pop > #icon_foreground {
    transform: scale(1.4);
}

#icon.pop > #visual_icon_cover {
    transform: scale(1.2);
}

#icon.pop > #visual_icon_shadow {
    transform: scale(1.2);
}

@media (min-width: 480px) {
    #menu {
        width: 480px !important;
        padding: 0 calc(50% - 240px) !important;
    }
    #credit {
        right: calc(50% - 160px) !important;
        left: calc(50% - 160px) !important;
    }
    #custom {
        right: calc(50% - 200px) !important;
        left: calc(50% - 200px) !important;
    }
}

@media (min-width: 840px) {
    #menu {
        position: fixed !important;
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        height: auto !important;
        width: 360px !important;
        padding: 0 0 16px 0 !important;
        box-shadow: 2px 0 4px rgba(0, 0, 0, 0.24) !important;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
    }
    #visual {
        position: absolute !important;
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 360px !important;
        height: auto !important;
        width: auto !important;
    }
}

@media (min-width: 960px) {
    #menu {
        width: 440px !important;
    }
    #visual {
        left: 440px !important;
    }
}